*{
  font-family: 'Palanquin Dark', sans-serif;
  background-attachment : fixed;
}

.DescriptionUser{
  font-size: 20px
}

h1{
  color: white;
  background-color: rgba(100,100,100,0.7);
  border-radius: 25px;
}

h2{
  font-size: 15px;
}

h3{
  text-align: left;
  margin: 0% 5%;
  padding: 0% 5%;
  font-size: 24px;
  color: white;
  background-color: rgba(100,100,100,0.7);
  border-radius: 25px;
}

.title{
  text-align: center;
  font-size: 25px;
}

p{
  text-align: justify;
  color: white;
}

.mail{
  text-align: center;
}

.buttonValid{
  text-align: center;
}

.Email{
  background-color: rgba(100,100,100,0.7);
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 2% 5%;
  padding: 15px 32px;
  border-radius: 25px;
}

.PosMail{
  text-align: center;
}

.button{
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0% 0% 5% 0%;
}

.buttonPos{
  text-align: center;
}

.pressImage{
  background-color: rgba(100,100,100,0.7);
  border: none;
  color: white;
  /*padding: 50px;*/
  margin: 0% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.textForm{
  background-color: rgba(100,100,100,0.7);
  border: none;
  color: white;
  padding: 15px 32px;
  margin:0% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  color : black;
}

.Column{
  display:inline-flex;
  flex-align: space-between;
}

.selection button{
  display: inline-flex;
  flex-direction:column;
  width: 10%;
  height: 10%;

  
}

.commentaire{
  display: inline-flex;
  align-content: row;
}

.rating {
  direction: rtl;
      width: 185px;
      margin: 0 auto 1em;
      font-size: 45px;
      overflow:hidden;
    }

.formAvis{
  background-color: rgba(100,100,100,0.7);
  border: none;
  color: white;
  padding: 50px 6px;
  margin: 1% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
}

.rating a {
  float: none;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a   {
color: orange;
cursor: pointer;}
